<img src="/logo.png">

<img src="https://imghost.com/0582085208502.ico">

<a href="/search">Hello!</a>

<a href="//google.com/testelalalala">Test</a>

<a href="/teste?q=oi">How are you?</a>

<a href="https://www.google.com/no_page_here"></a>

<a href="https://www.externurl.com/">Extern link!</a>

<p>Bye!</p>